@{
    ViewData["Title"] = "Home Page";
}

<!-- Views:
    -
    -
    -
-->
<div class="text-center">
    <h1 class="display-4">Get Inspired</h1>
    <p>Share your quotes with others, get inspired. Read and share powerful words. Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
